* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.headinghead {
  font-size: 18px;
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  margin-left: 14px;
  opacity: 0.8;
}
.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.dashboard {
  width: 16%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menuicon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 71px;
}
.dashd {
  margin: 10px;
}
.dash1 {
  display: flex;
  /* margin: 10px; */
  gap: 16px;
  align-items: center;
  padding: 18px;
  padding-top: 0;
  /* margin-top: 34px; */
}
.dash1 p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: black;
  opacity: 0.8;
}

.timesheet {
  height: 100%;
  width: 84%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: #f9f9f9;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header h1 {
  padding: 20px 5px;
}
.bell {
  fill: red;
}
.usericon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 30%; */
}
.user {
  display: flex;
  align-items: center;
  gap: 10px;
}
.name p {
  font-size: 14px;
}
.name h3 {
  font-size: 14px;
}
.bellicon {
  margin-right: 20px;
}

.boxes {
  width: 99%;
  display: flex;
  justify-content: space-between;
  margin-left: 1%;
}
.box {
  /* height: 50px; */
  width: 24%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-shadow: 1px;
  padding-left: 16px;
}
.boxchild {
  margin: 5px;
}
.boxicon {
  margin: 10px;
  margin-top: 20px;
}
.svg1 {
  fill: rgb(236, 66, 66);
}
.svg2 {
  fill: rgb(202, 202, 34);
}
.svg3 {
  fill: rgb(17, 173, 17);
}
.svg4 {
  fill: rgb(20, 20, 136);
}

.searchTimesheet {
  width: 98%;
  height: 78%;
  /* margin-left: 1%; */
  display: flex;
  /* margin-top: 10px; */
  padding: 24px;
  border-radius: 20px;
  margin-left: 8px;
}

.alltimesheet {
  width: 76%;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}
.alltimesheet h2 {
  margin: 0px 20px 20px 10px;
}
.tab {
  margin-left: 20px;
}
table {
}
th {
}
td {
}

.searchbox {
  width: 22%;
  height: 440px;
  /* border: 1px solid black; */
  /* overflow: hidden; */
  overflow-y: auto;
}
.search {
  width: 100%;
  height: 50px;
  /* border: 1px solid black; */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.anything {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-right: 14px;
}
.inpt {
  width: 100%;
  margin-right: 14px;
  height: 32px;
  outline: none;
  border: 1px solid #dddddd;
  border-radius: 12px;
  padding-left: 36px;
  font-size: 14px;
  color: black;
}
.alluser {
}
.alltimesheet h2 {
  font-size: 16px;
  line-height: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-left: 18px;
}
.boxtherealted{
  width: 36px;
  height: 29px;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

}
.MuiDataGrid-cellContent{
  /* width: 100px;
  height: 3px;
  background-color: #FFF5E3; */
}